/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,
                <NRF_PSEL(TWIM_SCL, 0, 7)>;
                bias-pull-up;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,
                <NRF_PSEL(TWIM_SCL, 0, 7)>;
                bias-pull-up;
            low-power-enable;
        };
    };

    unused_pins: unused_pins {
        group1 {
            psels = <NRF_PSEL(GPIO, 1, 8)>,
                    <NRF_PSEL(GPIO, 0, 5)>,
                    <NRF_PSEL(GPIO, 0, 27)>,
                    <NRF_PSEL(GPIO, 0, 1)>,
                    <NRF_PSEL(GPIO, 0, 0)>,
                    <NRF_PSEL(GPIO, 0, 13)>,
                    <NRF_PSEL(GPIO, 0, 14)>,
                    <NRF_PSEL(GPIO, 0, 16)>,
                    <NRF_PSEL(GPIO, 0, 17)>,
                    <NRF_PSEL(GPIO, 0, 19)>,
                    <NRF_PSEL(GPIO, 0, 20)>,
                    <NRF_PSEL(GPIO, 0, 21)>,
                    <NRF_PSEL(GPIO, 0, 22)>,
                    <NRF_PSEL(GPIO, 0, 23)>,
                    <NRF_PSEL(GPIO, 0, 24)>,
                    <NRF_PSEL(GPIO, 0, 25)>,
                    <NRF_PSEL(GPIO, 1, 0)>,
                    <NRF_PSEL(GPIO, 1, 3)>,
                    <NRF_PSEL(GPIO, 1, 5)>,
                    <NRF_PSEL(GPIO, 0, 10)>,
                    <NRF_PSEL(GPIO, 1, 10)>,
                    <NRF_PSEL(GPIO, 0, 29)>,
                    <NRF_PSEL(GPIO, 0, 31)>,
                    <NRF_PSEL(GPIO, 0, 30)>;
            bias-pull-down;
        };
    };
};

&pinctrl {
    pinctrl-0 = <&i2c0_default &unused_pins>;
    pinctrl-1 = <&i2c0_sleep &unused_pins>;
    pinctrl-names = "default", "sleep";
};